<!DOCTYPE html>

<title>Slot</title>

{% block body %}
    <h1>Slot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slot.id }}</td>
            </tr>
            <tr>
                <th>TimeStart</th>
                <td>{{ slot.timeStart ? slot.timeStart|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>TimeEnd</th>
                <td>{{ slot.timeEnd ? slot.timeEnd|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Seats</th>
                <td>{{ slot.seats }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_slot_index') }}">back to list</a>

    <a href="{{ path('app_slot_edit', {'id': slot.id}) }}">edit</a>

    {{ include('slot/_delete_form.html.twig') }}
{% endblock %}
