{% extends 'App/common/app.html.twig' %}

{% block title %}{{ 'title_events'|trans }}{% endblock %}
{% block content %}
    <div class="container">

        <h2>Events Available</h2>
        <div class="events-grid">
            {% for event in events %}
                <div class="event-card">
                    <a href="{{ path('allEventSlots', { 'eventId': event.id }) }}">
                        <img src="{{ asset('images/' ~ event.imagePath) }}" alt="{{ event.name }}">
                        <div class="event-details">
                            <h3>{{ event.name }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
